In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

## 1. Load Top Names

In [2]:
# Load the top 1000 names
top_names_path = Path('../data/top_1000_names_for_mapping.csv')

if not top_names_path.exists():
    print("Please run notebook 01 first to generate the top names file.")
else:
    names_df = pd.read_csv(top_names_path)
    print(f"Loaded {len(names_df)} names")
    display(names_df.head(20))

Loaded 1000 names

           Name  Total_Count Dominant_Gender
0         James      5129096               M
1          John      5106590               M
2        Robert      4816785               M
3       Michael      4330805               M
4          Mary      4130441               F
5       William      4071368               M
6         David      3590557               M
7        Joseph      2580687               M
8       Richard      2564867               M
9       Charles      2376700               M
10       Thomas      2291517               M
11  Christopher      2004177               M
12       Daniel      1876880               M
13    Elizabeth      1606282               F
14     Patricia      1575529               F
15      Matthew      1558671               M
16     Jennifer      1467573               F
17       George      1464430               M
18        Linda      1454599               F
19      Barbara      1437083               F

## 2. Rule-Based Classification

We'll create a rule-based system to classify names by their likely origin.

In [3]:
# Define name patterns for each region

# Latin/Hispanic names
latin_names = [
    'Jose', 'Juan', 'Luis', 'Carlos', 'Jesus', 'Miguel', 'Antonio', 'Francisco',
    'Pedro', 'Jorge', 'Manuel', 'Rafael', 'Ramon', 'Fernando', 'Ricardo', 'Roberto',
    'Eduardo', 'Julio', 'Enrique', 'Pablo', 'Raul', 'Mario', 'Sergio', 'Ruben',
    'Hector', 'Oscar', 'Cesar', 'Diego', 'Javier', 'Angel', 'Marco', 'Alejandro',
    'Maria', 'Carmen', 'Rosa', 'Ana', 'Elena', 'Teresa', 'Lucia', 'Gloria',
    'Isabel', 'Dolores', 'Guadalupe', 'Josefina', 'Beatriz', 'Catalina', 'Margarita',
    'Adriana', 'Alicia', 'Gabriela', 'Isabella', 'Sofia', 'Camila', 'Valentina',
    'Natalia', 'Daniela', 'Victoria', 'Andrea', 'Diana', 'Angelica', 'Selena'
]

# Asian names
asian_names = [
    'Ming', 'Mei', 'Wei', 'Li', 'Chen', 'Wang', 'Zhang', 'Liu', 'Yang',
    'Yuki', 'Akira', 'Kenji', 'Sakura', 'Hiroshi', 'Takashi', 'Yumi',
    'Kim', 'Park', 'Lee', 'Jung', 'Min', 'Jin', 'Hyun', 'Ji', 'Sung',
    'Anh', 'Linh', 'Minh', 'Nguyen', 'Tran', 'Pham',
    'Priya', 'Ravi', 'Amit', 'Raj', 'Kumar', 'Arjun', 'Krishna', 'Deepak'
]

# African/Middle Eastern names
african_middle_eastern_names = [
    'Mohammed', 'Muhammad', 'Ahmad', 'Hassan', 'Omar', 'Ali', 'Ibrahim', 'Khalid',
    'Fatima', 'Aisha', 'Amina', 'Zahra', 'Layla', 'Noor', 'Mariam', 'Yasmin',
    'Jamal', 'Malik', 'Rashid', 'Kareem', 'Tariq', 'Karim',
    'Kwame', 'Kofi', 'Amara', 'Zuri', 'Imani', 'Nia', 'Aaliyah', 'Zara',
    'Jamal', 'Tyrone', 'Darnell', 'Latoya', 'Keisha', 'Tanisha', 'Ebony'
]

# Irish/Italian names
irish_italian_names = [
    'Patrick', 'Sean', 'Connor', 'Liam', 'Ryan', 'Brendan', 'Brian', 'Kevin',
    'Colleen', 'Kathleen', 'Maureen', 'Bridget', 'Erin', 'Kelly', 'Shannon',
    'Giovanni', 'Giuseppe', 'Antonio', 'Salvatore', 'Vincenzo', 'Marco', 'Luigi',
    'Carla', 'Gina', 'Rosa', 'Francesca', 'Isabella', 'Lucia', 'Angela',
    'Gianna', 'Alessandra', 'Bianca', 'Chiara'
]

# Anglo/traditional English names (most common baseline)
anglo_names = [
    'John', 'William', 'James', 'Robert', 'Michael', 'David', 'Richard', 'Charles',
    'Joseph', 'Thomas', 'Christopher', 'Daniel', 'Matthew', 'Donald', 'Mark',
    'Paul', 'Steven', 'Andrew', 'Kenneth', 'Joshua', 'George', 'Edward',
    'Mary', 'Patricia', 'Jennifer', 'Linda', 'Barbara', 'Elizabeth', 'Susan',
    'Jessica', 'Sarah', 'Nancy', 'Karen', 'Betty', 'Helen', 'Dorothy', 'Margaret',
    'Emily', 'Emma', 'Olivia', 'Ava', 'Sophia', 'Mia', 'Charlotte', 'Amelia'
]

print("Name patterns defined for each region.")

Name patterns defined for each region.

In [4]:
# Function to classify names
def classify_name(name):
    """Classify a name into a region of origin."""
    if name in latin_names:
        return 'Latin'
    elif name in asian_names:
        return 'Asian'
    elif name in african_middle_eastern_names:
        return 'African_MiddleEastern'
    elif name in irish_italian_names:
        return 'Irish_Italian'
    elif name in anglo_names:
        return 'Anglo'
    else:
        # Default to Anglo for unclassified traditional names
        return 'Anglo'

# Apply classification
names_df['Origin_Region'] = names_df['Name'].apply(classify_name)

# Show distribution
print("Distribution of names by origin region:")
print(names_df['Origin_Region'].value_counts())
print("\nPercentage:")
print(names_df['Origin_Region'].value_counts(normalize=True) * 100)

Distribution of names by origin region:
Origin_Region
Anglo                    920
Latin                     52
Irish_Italian             22
African_MiddleEastern      4
Asian                      2
Name: count, dtype: int64

Percentage:
Origin_Region
Anglo                    92.0
Latin                     5.2
Irish_Italian             2.2
African_MiddleEastern     0.4
Asian                     0.2
Name: proportion, dtype: float64

## 3. Review Classifications

In [5]:
# Show examples from each category
for region in names_df['Origin_Region'].unique():
    print(f"\n{region} names (top 20):")
    print(names_df[names_df['Origin_Region'] == region]['Name'].head(20).tolist())

Anglo names (top 20):
['James', 'John', 'Robert', 'Michael', 'Mary', 'William', 'David', 'Joseph', 'Richard', 'Charles', 'Thomas', 'Christopher', 'Daniel', 'Elizabeth', 'Patricia', 'Matthew', 'Jennifer', 'George', 'Linda', 'Barbara']

Irish_Italian names (top 20):
['Brian', 'Kevin', 'Ryan', 'Kathleen', 'Patrick', 'Angela', 'Kelly', 'Sean', 'Shannon', 'Erin', 'Connor', 'Colleen', 'Gina', 'Carla', 'Maureen', 'Liam', 'Bridget', 'Brendan', 'Bianca', 'Giovanni']

Latin names (top 20):
['Jose', 'Maria', 'Victoria', 'Andrea', 'Teresa', 'Gloria', 'Diana', 'Juan', 'Angel', 'Carlos', 'Isabella', 'Luis', 'Antonio', 'Alicia', 'Jesus', 'Dolores', 'Oscar', 'Manuel', 'Rosa', 'Miguel']

Asian names (top 20):
['Lee', 'Kim']

African_MiddleEastern names (top 20):
['Omar', 'Tyrone', 'Aaliyah', 'Layla']

## 4. Manual Adjustments

Here we can manually adjust any misclassified names.

In [6]:
# Manual adjustments (add more as needed)
manual_mappings = {
    # Format: 'Name': 'Region'
    'Anthony': 'Irish_Italian',
    'Angelo': 'Irish_Italian',
    'Dante': 'Irish_Italian',
    'Aidan': 'Irish_Italian',
    'Ciara': 'Irish_Italian',
    'Fernando': 'Latin',
    'Alejandro': 'Latin',
    'Santiago': 'Latin',
    'Mohamed': 'African_MiddleEastern',
    'Aaliyah': 'African_MiddleEastern',
}

# Apply manual mappings
for name, region in manual_mappings.items():
    if name in names_df['Name'].values:
        names_df.loc[names_df['Name'] == name, 'Origin_Region'] = region

print("Manual adjustments applied.")
print("\nUpdated distribution:")
print(names_df['Origin_Region'].value_counts())

Manual adjustments applied.

Updated distribution:
Origin_Region
Anglo                    917
Latin                     52
Irish_Italian             25
African_MiddleEastern      4
Asian                      2
Name: count, dtype: int64

## 5. Save the Mapping

In [7]:
# Save the final mapping
output_path = Path('../data/name_origin_mapping.csv')
names_df.to_csv(output_path, index=False)

print(f"Saved name-origin mapping to {output_path}")
print(f"\nTotal names mapped: {len(names_df)}")
print(f"\nFirst 30 rows:")
display(names_df.head(30))

Saved name-origin mapping to ../data/name_origin_mapping.csv

Total names mapped: 1000

First 30 rows:

           Name  Total_Count Dominant_Gender  Origin_Region
0         James      5129096               M          Anglo
1          John      5106590               M          Anglo
2        Robert      4816785               M          Anglo
3       Michael      4330805               M          Anglo
4          Mary      4130441               F          Anglo
5       William      4071368               M          Anglo
6         David      3590557               M          Anglo
7        Joseph      2580687               M          Anglo
8       Richard      2564867               M          Anglo
9       Charles      2376700               M          Anglo
10       Thomas      2291517               M          Anglo
11  Christopher      2004177               M          Anglo
12       Daniel      1876880               M          Anglo
13    Elizabeth      1606282               F          Anglo
14     Patricia      1575529               F          Anglo
15      Matthew      1558671               M          Anglo
16     Jennifer      1467573               F          Anglo
17       George      1464430               M          Anglo
18        Linda      1454599               F          Anglo
19      Barbara      1437083               F          Anglo
20       Donald      1414511               M          Anglo
21      Anthony      1410142               M  Irish_Italian
22         Paul      1386884               M          Anglo
23         Mark      1348242               M          Anglo
24       Edward      1286568               M          Anglo
25       Steven      1277582               M          Anglo
26      Kenneth      1272151               M          Anglo
27       Andrew      1260738               M          Anglo
28     Margaret      1243750               F          Anglo
29       Joshua      1179654               M          Anglo

## 6. Create Summary Statistics

In [8]:
# Calculate what percentage of total births each region represents
region_totals = names_df.groupby('Origin_Region')['Total_Count'].sum().sort_values(ascending=False)

print("Total births by origin region (among top 1000 names):")
print(region_totals)
print("\nPercentage:")
print((region_totals / region_totals.sum() * 100).round(2))

Total births by origin region (among top 1000 names):
Origin_Region
Anglo                    254558964
Irish_Italian              9843791
Latin                      9177785
Asian                       505849
African_MiddleEastern       300608
Name: Total_Count, dtype: int64

Percentage:
Origin_Region
Anglo                    92.77
Irish_Italian             3.59
Latin                     3.34
Asian                     0.18
African_MiddleEastern     0.11
Name: Total_Count, dtype: float64

## Summary

I've created a mapping of the top 1000 names to their regions of origin:
- Anglo (baseline traditional English/Western)
- Irish_Italian (early European immigration)
- Latin (Hispanic/Latin American)
- Asian (East/South/Southeast Asian)
- African_MiddleEastern (African, Arabic, Middle Eastern)

**Next step:** In notebook 03, I'll join this mapping back to the full dataset and calculate regional trends over time.